<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title>Calculator</title>
</head>
<body>
    <div class="cal" style="background-color: rgb(27, 136, 187);padding: 20px;width: 600px;margin: 85px 350px;border-radius: 15px 50px 30px">
        <form method="POST" action="/calculate" >
            <h1 style="font-family: Arial, Helvetica, sans-serif;color: white;">Simple Calculator</h1>
                <input style="border-radius: 12px; padding: 10px;" type="number" name="num1" placeholder="Enter First Number" required>
                <select style="border-radius: 12px; padding: 10px;box-shadow: teal;"  name="operation">
                    <option value="add">Add</option>
                    <option value="subtract">Subtract</option>
                    <option value="multiply">Multiply</option>
                    <option value="divide">Divide</option>
                </select>
                <input style="border-radius: 12px; padding: 10px;" type="number" name="num2" placeholder="Enter Second Number" required>
                <input style="border-radius: 12px; padding: 10px;font-family: Arial, Helvetica, sans-serif;background-color: rgb(255, 192, 203);color: rgb(46, 40, 40);" type="submit" value="CALCULATE">
        
        
        <div>
            <br>
            <h2 style="font-family: Arial, Helvetica, sans-serif;color: white;padding: 10px;">Result = {{ result }}</h2>
            
        </div>
        </form>
    </div>
    
</body>
</html>